<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bug tracking system</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/jquery-ui.css" rel="stylesheet"/>
    <link href="/static/css/business-casual.css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
          rel="stylesheet" type="text/css">
    <style>
        #myInput2 {
            background: no-repeat 10px 12px;
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }
    </style>
</head>
<body>
<div class="brand">Bug tarcker</div>
<div class="address-bar"> | VAI |</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a id="start_page" href="/">start page</a>
                </li>
                <li>
                    <a id="log_out">Log out</a>
                </li>
                <li>
                    <a data-toggle="modal" onclick="htmlLoader('/addEmployeeMenu', '#sign_in_popup')"
                       data-target="#sign_in_popup">Add employee</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, p;
        input = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        table = document.getElementById("employee_Table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            var tds = tr[i].getElementsByTagName("td");
            if (tds[0]) {
                if (tds[0].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <h1 class="brand-name">List</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>of
                        <strong>projects</strong>
                    </small>
                </h2>
                <div>
                    <!--/*@thymesVar id="getName" type="com.bug.model.Employee"*/-->
                    <table class="table table-hover">
                        <thead>
                        <th>name</th>
                        <th>position</th>
                        </thead>
                        <tbody id="employee_Table">
                        <input type="text" id="myInput2" onkeyup="myFunction()" placeholder="Search by name">
                        <tr th:each="employee : ${employees}">
                            <td data-toggle="modal" id="employee_name"
                                th:text="${employee.getName()} + ' ' + ${employee.getSurname()} "
                                th:onclick="'javascript:htmlLoader2( \'/employee?mail=\', \'#edit_employee\', \'' + ${employee.getMail()} + '\');'"
                                data-target="#edit_employee">
                            </td>
                            <td th:text="${employee.getPosition()}">
                            </td>
                            <td data-toggle="modal" id="employee_password"
                                th:onclick="'javascript:htmlLoader2( \'/passwordMenu?id=\', \'#edit_password1\', \'' + ${employee.getId()} + '\');'"
                                data-target="#edit_password1">edit password
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/htmlLoader.js"></script>
<script src="/static/js/jquery-2.1.4.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/bug.js"></script>
<!--<script src="/static/js/registration.js"></script>-->

<div id="edit_employee" class="modal fade" role="dialog"></div>
<div id="edit_password1" class="modal fade" role="dialog"></div>
<div id="sign_in_popup" class="modal fade" role="dialog"></div>
</body>
</html>